.homepage
  .row
    .homepage-main.text-center
      .homepage-main-blurb.lay-vertical-center
        %h1
          = t('.main')

        = link_to t('.start_now'), new_user_registration_path,
          class: 'button large radius'

  .row
    .homepage-blurb.text-center
      .homepage-blurb-text
        %h1
          = t('.features.header')

        .medium-10.medium-centered.columns
          %h3.subheader
            = t('.features.blurb')

  .row
    .homepage-main2
      .lay-vertical-center
        %h1.text-center
          = t('.main2')
